a{
	color: red;
}
h1{
	color: blue;
}
.item{
	color: yellow;
}
.block-content{
	color: green;
}
.information p{
	color: blue;
}
.text{
	color: #000000;
}
.blue-color{
color: blue;
}
.yellow-color{
	color: #eeee00e5;
}